<h2>
    Por capital
    </h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-pais-input
                (eventEnter)="buscar( $event )"
                placeholder="Buscar capital...">
            </app-pais-input>
        </div>
    </div>
    <hr>
    <div *ngIf="hayError"
         class="alert alert-danger">
        No se encontró nada con el término <strong>{{termino}}</strong>
    </div>
    <div *ngIf="paises.length > 0" class="row animate__animated animate__fadeIn">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>