<h2>Búsquedas</h2>
<hr>
<div class="list-group">
    <a href="#" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item list-group-item-action">
        Buscar país
    </a>
    <a href="#" routerLink="region" routerLinkActive="active" class="list-group-item list-group-item-action">
        Buscar región
    </a>
    <a href="#" routerLink="capital" routerLinkActive="active" class="list-group-item list-group-item-action">
        Buscar capital
    </a>
</div>